
<div>
    
    <!-- Axis Scale     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Axis Scale</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: model.axisScale == 'linear' }" 
                     data-ng-click="setStyle('axisScale', 'linear')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.axisScale == 'linear' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Linear</div>
                </div>
                <div data-ng-class="{ selected: model.axisScale == 'logarithmic' }" 
                     data-ng-click="setStyle('axisScale', 'logarithmic')" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.axisScale == 'logarithmic' }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Logarithmic</div>
                </div>
            </div> 
        </div>
    </div>

    <!--    Point Size     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Point Size</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="1"
                                 data-max="25"
                                 data-step="0.1"
                                 data-value="model.pointSize"
                                 data-trigger="change"
                                 data-on-release="redraw()">
                    </data-slider>
                </div>
            </div>
        </div>
    </div>

    <!--    Animation Speed Slider     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Animation Speed</div>
            <div class="pane-row-holder gravity-slider">
                <div class="white-slider">
                    <data-slider class="numeric-slider"
                                 data-type="value"
                                 data-min="0"
                                 data-max="2000"
                                 data-step="100"
                                 data-value="model.animationSpeed"
                                 data-trigger="change"
                                 data-on-release="redraw()">
                    </data-slider>
                </div>
            </div>
        </div>
    </div>
</div>